body {
  font-family: Arial, sans-serif;
}

.container {
  width: 300px;
  margin: 100px auto;
  text-align: center;
}

.bio-picture {
  width: 150px; /* Adjust the width as needed */
  border-radius: 50%; /* Makes it circular */
  margin: 20px auto;
  display: block;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  padding: 10px;
  width: 100%;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: darkblue;
}

#error {
  color: red;
}
